body {
    margin: 0 auto;
    background-color: #68cdd5;
}
.back {
    width: 1.08rem;
    height: 1.08rem;
    background-image: url(../image/1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.logo {
    margin: 0 auto;
    margin-top: 1rem;
    width: 3.62rem;
    height: 1.4rem;
    background-image: url(../image/2.png);
    background-repeat: no-repeat;
    background-size: 100%;    
}
.text >p {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    color: #fff;
    font-size: 0.25rem;
}
.button-1 {
    width: 1.08rem;
    height: 1.08rem;
    margin-top: 0.8rem;
    margin-left: 1.6rem;
    float: left;
}
.button-1 >img {
    width: 100%;
    height: 100%;
}
.button-1 >p {
    margin: -0.1rem auto;
    color: #fff;
    font-size: 0.2rem;
    text-align: center;
}
.button-2 {
    width: 1.08rem;
    height: 1.08rem;
    margin-top: 0.8rem;
    margin-right: 1.6rem;
    float: right;
}
.button-2 >img {
    width: 100%;
    height: 100%;
}
.button-2 >p {
    margin: -0.1rem auto;
    color: #fff;
    font-size: 0.2rem;
    text-align: center;
}