html {font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%*/}
body {
    margin: 0 auto;
    background-color: #68cdd5;
}
.retreat {
    position: absolute;
    top: 20px;
    left: 35px;
}
.logo {
    text-align: center;
    padding-top: 116px;
}
.text {
    margin: 0 auto;
    color: #fff;
    font-size: 2rem;
    width: 75%;
    padding-top: 120px;
}
.button-1 {
    position: absolute;
    top: 580px;
    left: 20%;
}
.button-2 {
    position: absolute;
    top: 580px;
    right: 20%;
}
.text1 {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}